*{
    margin: 0%;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container{
    color:darkblue;
}

.temp{
    font-size: 4rem;
}

.time-location{
    font-size: 2rem;
}

.condition{
    margin: 0.5rem;
    margin-left: 0.2rem;
}

nav{
    height: 100px;
    margin: 5rem;
}

.search_area{
    padding: 1rem 0;
    outline:none;
    border:none;
    color:olive;
    background-color: transparent;
    font-size: 1.1rem;
    border-bottom: 2px solid green;
    width: 98%;
}

nav form button{
    padding: 0.5em;
    background-color:chocolate;
    color: white;
    margin-top: 1rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    cursor: pointer;
}